*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(124, 201, 124);
    --secondary-color: #345678;
}
body{
    color: var(--secondary-color);
    background-color: #dbe9f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited, a:link{
    text-decoration: none;
}
/*HEader Style -start*/
header{
    padding: 25px 25px;
    background-color: var(--secondary-color);
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1{
    font-weight: 300;
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(5, 5, 10, 0.7);
}

header nav{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(5, 5, 10, 0.7);
    color: var(--primary-color);
    text-decoration: none;
}

header nav ul li a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
    border-radius: 20px;
}
/*Header Style-end*/

/*Section Style-start*/
section{
    padding: 30px;
    display: flex;
}

.section-title{
    padding: 20px;
    border-right: 5px solid;
}

.flex-row{
    padding: 10px 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: var(--secondary-color);

}

.work-grid-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    min-width: 980px;
    min-height: 500px;
    padding: 10px;
}

.work-grid-container h3,h4{
    display: inline;
    color: var(--primary-color);
    background-color: rgba(5, 5, 10, 0.3);
}

.project1{
    grid-row: 1 / span 6;
    grid-column: 1 / span 6;
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
}

.project2{
    grid-row: 7 / -1;
    grid-column: 1 / span 3;
}

.project3{
    grid-row: 7 / -1;
    grid-column: 4 / span 3;
}

.project4{
    grid-row: 1 / span 3;
    grid-column: 7 / -1;
}

.project5{
    grid-row: 4 / span 3;
    grid-column: 7 / -1;
}

div h2{
    flex: 1 12%;
}

div p{
    flex: 10;
} 

.contact-grid{
    display:grid;
    grid-template-columns: repeat(20, 1fr);
}

.contact-grid li {
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(5, 5, 10, 0.7);
    color: var(--primary-color);
    list-style: none;
    align-items: center;
    margin: auto;
}

.item1{
    grid-column: 2 / span 3;
}

.item2{
    grid-column: 6 / span 3;
}

.item3{
    grid-column: 12 / span 3;
}

.item4{
    grid-column: 15 / span 2;
}
/*Section Style-end*/