*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: rgb(124, 201, 124);
    --secondary-color: #345678;
}
body{
    color: var(--secondary-color);
    background-color: #dbe9f8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 25px 25px;
    background-color: var(--secondary-color);
    z-index: 9999;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1{
    font-weight: 300;
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(5, 5, 10, 0.7);
}

header nav{
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(5, 5, 10, 0.7);
    color: var(--primary-color);
    text-decoration: none;
}

header nav ul li a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
    border-radius: 20px;
}

section{
    padding: 30px;
    display: flex;
}

.section-title{
    padding: 20px;
    border-right: 5px solid;
}

.flex-row{
    padding: 10px 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: var(--secondary-color);

}

div h2{
    flex: 1 12%;
}

div p{
    flex: 10;
} 

div ul{
    display:grid;
    grid-template-columns: repeat(20, 1fr);
}

div ul li {
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(5, 5, 10, 0.7);
    color: var(--primary-color);
    list-style: none;
    align-items: center;
    margin: auto;
}

.item1{
    grid-column: 2 / span 3;
}

.item2{
    grid-column: 6 / span 3;
}

.item3{
    grid-column: 12 / span 3;
}

.item4{
    grid-column: 15 / span 2;
}